
.newPost {
    width: 100%;
    background-color: rgb(255, 255, 255);
    color: grey;
    border-radius: 5px;
    border: none;
    height: 50px;
    margin: 26px 0px;
    margin-bottom: 10px;
}

.dayContainer {
    width: 100%;
}

.topContainer {
    width: 100%
}

.newPost:hover {
    color: lightgrey;
    text-decoration: none;
}

.icon {
    height: 34px;
    width: 34px;
    margin: 2.5px;
    margin-left: 0px;
    margin-right: 8px;
    float: left;
    display: block;
    border-radius: 25px;
    border: none;
}

.startInner {
    float: left;
    margin: 7px 6px;
    font-size: 20px;
}

.ppPills {
    width: 100%;
}

.postPoll div {
    color: rgb(175, 174, 174);
    width: 50%;
    padding-bottom: 8px;
    padding-top: 10px;
    margin-bottom: 20px;
    float: left;
    border-bottom: 2px solid rgb(175, 174, 174);
}

.postPoll span {
    font-size: 16px;
}

.postPoll div.active {
    color: #583ea5;
    border-color: #583ea5;
}

.postPoll div:hover {
    color: #3e2b75 ;
    background-color: lightgrey;
}

.dayPost {
    width: 100%;
    background-color: rgb(255, 255, 255);
    color: grey;
    border-radius: 5px;
    border: none;
}

.topPosts {
    width: 100%;
    background-color: rgb(255, 255, 255);
    color: grey;
    border-radius: 5px;
    border: none;
}