
.start {
    width: 100%;
    margin: 26px 0px;
    margin-bottom: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 7px;
    border: none;
    width: 100%;
    height: 50px;
}

.newPost {
    color: grey;
}
.newPost:hover {
    color: lightgrey;
    text-decoration: none;
}
.icon {
    height: 34px;
    width: 34px;
    margin: 8px 10px;
    float: left;
    display: block;
    border-radius: 25px;
    border: none;
}
.startInner {
    float: left;
    margin: 12px 0px;
    font-size: 20px;
}

.postPoll div {
    color: rgb(175, 174, 174);
    width: 50%;
    padding-bottom: 8px;
    padding-top: 10px;
    margin-bottom: 20px;
    float: left;
    border-bottom: 2px solid rgb(175, 174, 174);
}

.postPoll span {
    font-size: 16px;
}

.postPoll div.active {
    color: #3e2b75;
    border-color: #3e2b75;
}

.postPoll div:hover {
    color: #3e2b75 ;
    background-color: lightgrey;
}