.head {
    font-size: 12px;
    width: 100%;
    margin-top: 10px;
}

.headDet {
    display: block;
    float: left;
}

.externals span {
    display: block;
    float: right;
}
.FR {
    margin-right: 10px;
}

.FL {
    float: left;
}

.bodyDet {
    padding-top: 10px;
}

.bodyText {
    color: black;
    font-size: 22px;
    text-align: left;
    margin-left: 20px;
}

.iconCont {
    height: 100%;
    float: left;
}

.postDetails {
    font-size: 12px;
}

.reactBtn {
    float: right;
    border-radius: 5px;
    border: none;
    color: grey;
}

.comments {
    margin-top: 10px;
}

.borderTop {
    border-top: 1px solid lightgrey;
}

.iconSmall {
    height: 26px;
    width: 26px;
    margin: 6px 10px;
    margin-left: 18px;
    float: left;
    display: block;
    border-radius: 25px;
    border: none;
}

.comName {
    width: 450px;
    font-size: 16px;
    text-align: left;
}

.comText {
    width: 450px;
    text-align: left;
    font-size: 12px;
}

