.head {
    font-size: 12px;
    width: 100%;
    margin-top: 10px;
    height: 16px;
}

.headDet {
    display: block;
    float: left;
}

.externals {
    padding: 1px 6px;
    display: block;
    float: right;
}

.externals:hover {
    background-color: lightgrey;
}

.FR {
    float: right;
}

.FL {
    float: left;
}

.bodyDet {
    padding-top: 6px;
}

.bodyText {
    color: black;
    font-size: 22px;
    text-align: left;
}

.iconCont {
    height: 100%;
}

.noMarg {
    margin: 0px;
}

.postDetails {
    font-size: 12px;
}

.reactBtn {
    padding: 0px 6px;
    font-size: 12px;
    float: right;
    border-radius: 5px;
    border: none;
    color: grey;
}

.comments {
    padding: 4px 0px;
}

.borderTop {
    border-top: 1px solid lightgrey;
}

.iconSmall {
    height: 30px;
    width: 30px;
    margin: 4px 10px;
    margin-left: 18px;
    float: left;
    display: block;
    border-radius: 25px;
    border: none;
}

.comName {
    width: 86%;
    font-size: 16px;
    text-align: left;
}

.comText {
    margin: 0px;
    padding: 0px;
    width: 86%;
    text-align: left;
    font-size: 12px;
}

.addCom:hover {
    color: lightgrey;
    text-decoration: none;
}

.addCom {
    width: 100%;
}

.stackedCont{
    float: left;
    display: block;
    margin-left: 14px;
}

.stacked {
    height: 30px;
    width: 30px;
    margin-left: -10px;
    float: left;
    display: block;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    border-radius: 25px;
}

.options {
    padding: 0px 4px;
    margin: 4px;
}

.options:hover {
    background-color: lightgrey;
}