.topnav {
    background-color: #583ea5;
    overflow: hidden;
}

.search {
    height: 48px;
    float: left;
    display: block;
    color: white;
}

.tab {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 8px 10px;
    padding-top: 16px;
    text-decoration: none;
    font-size: 15px;
    border-bottom: 3px solid transparent;
    align-items: center;
}

.link {
    min-height: 100%;
    min-width: 100%;
    color: white;
}

.link:hover {
    color: lightgray;
}

.full {
    font-size: 34px;
    padding: 7px 10px;;
}

.eq {
    font-size: 110%!important;
}

.addPost {
    height: 34px;
    width: 100px;
    background-color: white;
    color: #583ea5;
    padding: 0px;
    margin: 8px 10px;
}

.img {
    height: 28px;
    width: 28px;
    margin: 11px;
}

.round {
    float: right;
    display: block;
    border-radius: 25px;
    border: none;
}

.searchBar {
    height: 28px;
    width: 300px;
    margin: 11px;
    background-color: #3e2b75;
    color: white;
    text-align: center;
}

.topnav div:hover {
    background-color: #3e2b75;
}

.topnav div.active {
    border-bottom: 3px solid white;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
}